/* Set widths on the form inputs since otherwise they're 100% wide */
input {
    max-width: 50%;
}

table td {
    border: 0px;
    text-align: center;
}

.td_border_top {
    border-top: 1px solid black;
}
/*divide by number of cells from Translator.cs */
.main-cell {
    width: calc(100% / 18);
}

.duration {
    font-size: 8px;
}

table.no-spacing {
    border-spacing: 0;
    border-collapse: collapse;
}